<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <input (ngModel)="userName" class="form-control" id="userName" name="userName" placeholder="User Name..."
             type="text"/>
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <input (ngModel)="password" class="form-control" id="password" name="password" placeholder="Password..."
             type="password"/>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login</div>
</div>
