<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
      <div class="form-group" [ngClass]="{'error' : !validFirstName()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
        <input id="firstName" type="text" class="form-control" placeholder="First Name..." formControlName="firstName"/>
      </div>
      <div class="form-group" [ngClass]="{'error' : !validLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validLastName() && profileForm.controls.lastName.errors.required">Required</em>
        <em *ngIf="!validLastName() && profileForm.controls.lastName.errors.pattern">Must start with a letter</em>
        <input id="lastName" type="text" class="form-control" placeholder="Last Name..." formControlName="lastName"/>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

      <button type="button" class="btn btn-warning" style="float: right;" (click)="logout()">Logout</button>
    </form>
  </div>
</div>
